.signup-button {
    margin-top: 20px;
    background-color: #393E47;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.field {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input {
    color: black;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #BBBBBB;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

.signup-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
}