
<form action="/add/game" method="post" style="width: 500px; margin: 30vh auto; display: flex; flex-direction: column; justify-content: space-between; align-items: center; min-height: 200px;">
    ADD GAME
    <input type="text" name="game_name" placeholder="Game Name">
    <input type="text" name="installation_link" placeholder="Installation Link">
    <input type="text" name="cost" placeholder="Cost">
    <input type="text" name="images" placeholder="Image">
    <input type="text" name="videos" placeholder="Video">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="assets" placeholder="Assets">
    <button type="submit">Submit</button>
</form>

