<%- include(path + '/views/partials/nav.ejs') %> 

<div style="width: 100vw; display: flex; justify-content: space-evenly; align-items: center;">
    <a href="/store">Store</a>
    <a href="/auth/login">login</a>
    <a href="/auth/register">register</a>
    <a href="/add/game">add game</a>
    <a href="/add/asset">add asset</a>
</div>


<%- include(path + '/views/partials/nav.ejs') %> 